
@{
}

<div class="container my-5 justify-content-center">
    <div class="text-center">
        <h1>Để sử dụng chức năng này cần có quyền Admin</h1>
        <h2>Liên Hệ <a href="https://www.facebook.com/NotDuynha">
            -Mai Nhật Duy- </a> để trao đổi về vấn đề này </h2>
    <div/>
</div>
